# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Environment variables
.env
.env*.local

# SQLite Database
prisma/*.db
prisma/*.db-journal

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS Files
.DS_Store
*.pem
Thumbs.db
